<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="left">
      <h1>{{auctionTitle}}</h1>
    </div>
    <div class="right">Cena: {{auctionPrice}}</div>
    <div class="right">Ilość: {{auctionQuantity}}</div>
    <div class="right">Zakończenie aukcji: {{auctionAuctionEnd}}</div>

    <!--<div>
      <h4>{{auctionTitle}}</h4>
    </div>
    <div>
      <h4>{{auctionPrice}}</h4>
    </div>
    <div>
      <h4>{{auctionQuantity}}</h4>
    </div>
    <div>
      <h4>{{auctionAuctionEnd}}</h4>
    </div>-->
  </div>
  <div class="description">
    Opis: {{auctionDescription}}
  </div>
</div>
