  .left{
    margin-left: 10em;
    max-width: 20em;
    float: left;
    background: rgba(255,255,255,.7);
  }
  .right{
    width: 10em;
    margin-left: 2em;
    float: left;
    background: rgba(255,255,255,.7);
  }
  .bottom{
    height: 100%;
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
    float: left;
    background: rgba(255,255,255,.7);
    color: white;
    font-size: medium;
  }
  .description{
  padding-top: 4em;
    width: 80em;
    margin-right: 10em;
    float: left;
    background: rgba(255,255,255,.7);
  }
.padding-0 {
    padding-right: 0;
    padding-left: 1;
}
.row {
    padding-top: 4em;
}
